@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply overflow-x-hidden;
}
body {
  @apply bg-bg font-sans text-xs font-normal leading-relaxed text-bgDarker min-h-screen m-0;
}
body.lock {
  @apply overflow-hidden;
}
.container {
  @apply w-full max-w-[100vw];
}

#root h1 {
  @apply my-2 text-xl font-bold;
}
#root h3 {
  @apply mb-0 mt-0 text-sm font-bold;
}
#root p {
  @apply mb-5 mt-0;
}
#root label {
  @apply font-bold;
}
#root input {
  @apply rounded border border-grey p-[6px];
}
#root img {
  @apply max-w-full;
}
#root .btn {
  @apply relative h-10 cursor-pointer rounded-md border-none bg-blue px-5 py-[9px] text-sm font-bold shadow-none;
  animation-name: bounceOut;
  animation-duration: 50s;
}
#root  .btn:hover {
  animation-name: bounceIn;
  animation-duration: 50s;
}
#root .btn .address {
  @apply pl-3;
}

.nuxt-icon.icon-auto svg {
  @apply h-auto w-auto;
}

input[type='radio'] + label {
  cursor: pointer;
}
input[type='radio']:checked + label .nft {
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.35);
}

.btn-modal-exit {
  @apply absolute right-0 top-0 z-2 inline-flex h-8 w-8 !animate-none cursor-pointer items-center justify-center bg-transparent p-1 text-2xl font-normal;
}
.btn-modal-exit:after {
  content: '\00d7'; /* This will render the 'X' */
}

#oaw-wallet-widget-btn {
  @apply invisible absolute -z-1;
}
.oaw-btn-default-style {
  @apply h-12 w-full border border-grey-transparent bg-transparent text-[0px] dark:border-bg;

  &::after {
    content: '▶◀ Apillon Embedded Wallet';
    @apply text-sm;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(0);
  }
  1% {
    transform: translateY(-4px);
  }
  2%,
  to {
    transform: translateY(-3px);
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(-3px);
  }
  1% {
    transform: translateY(1px);
  }
  2%,
  to {
    transform: translateY(0);
  }
}

/** Spinner */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: none;
}
.path {
  stroke-dasharray: 8, 10;
  animation: dash 8s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dashoffset: -124;
  }
}
