.nft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  overflow: hidden;
  border-radius: 12px;
}
.nft_content {
  padding: 16px 24px 24px;
}
.nft_img {
  height: 100%;
  object-fit: contain;
}
